<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" charset="utf-8"/>
    <title>您好，欢迎使用RTCS聊天系统</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/style.css" />
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css" />
</head>
<body>

<div class="main">
    <div class="container">
        <div class="left">
            <div class="wrap">
                <div class="userInfo">
                    <span>用户信息</span>
                </div>
                <div class="sessions">
                    <div class="tab">
                        <ul class="category">
                            <li class="current">会话</li>
                            <li>好友</li>
                            <li>群组</li>
                        </ul>
                    </div>
                    <div class="session">
                        <ul>
                            <li>
                                <div>
                                    <div class="user_head"><img class="head_img" src="../public/images/userHead.png"/></div>
                                    <div class="user_name_last_msg">
                                        <div>丁小伟</div>
                                        <span>@曹召瑞 QTA礼包已经发完了。</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="user_head"><img class="head_img" src="../public/images/userHead.png"/></div>
                                    <div class="user_name_last_msg">
                                        <div>林瑞锋</div>
                                        <span>我可以发beta</span>
                                    </div>
                                </div>
                            </li>
                            <li class="current">
                                <div>
                                    <div class="user_head"><img class="head_img" src="../public/images/userHead.png"/></div>
                                    <div class="user_name_last_msg">
                                        <div>张晓火</div>
                                        <span>要发线上。</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="friend hide">
                        <ul>

                        </ul>
                    </div>
                    <div class="group hide">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="history">
                一些信息显示的地方
            </div>
            <div class="contents">
                <div class="contents_wrap"><!-- 非群组消息的时候，添加class: contents_wrap_large -->
                    <div class="contents_left">
                        <div class="message_list">
                            <ul>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container">
                                        <span class="chat_nick">丁小伟</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                                <li class="message_item">
                                    <div class="message_item_container self">
                                        <span class="chat_nick">自己</span>
                                        <span class="chat_content">我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西我在验证，稍等，少配了个东西</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="edit_zone">
                            <div class="edit_zone_wrap">
                                <div class="toolbar">工具栏</div>
                                <div class="edit_container">
                                    <textarea class="edit_textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_right">
                    <span class="title">参与人（<span>3</span>/<span>58</span>）</span>
                    <ul class="user_list">
                        <li class="user_item"><i class="fa fa-circle online"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle online"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle online"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle"></i>用户1</li>
                        <li class="user_item"><i class="fa fa-circle "></i>用户1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul>
            <li>Powered by ruifeng.lin</li>
            <li>RTX: ruifeng.lin | QQ: 289972458 | WeiXin: tedious-dock </li>
            <li>GitHub: <a href="https://github.com/tediousbaby/rtcs.git" target="_blank">https://github.com/tediousbaby/rtcs.git</a></li>
        </ul>
    </div>
</div>



<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/json2.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

</body>
</html>
