<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" charset="utf-8"/>
    <title>您好，欢迎使用RTCS</title>
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/reset.css" />
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/login.css" />
    <link type="text/css" rel="stylesheet" href="../public/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css" />
</head>
<body>

<div class="ancestor">
    <div class="container">
        <div class="main">
            <div class="logo"></div>
            <div class="left">
                <div class="sys_intro">
                    RTCS，是基于Node.JS平台，使用Express、socket.io构建的实时聊天系统。
                </div>
                <div class="changelog">
                    <div class="changelog_item">


                    </div>
                </div>
            </div>
            <div class="right">
                <div class="login">
                    <div class="header">RTCS账号登录</div>
                    <div class="body">
                        <div class="row">
                            <div class="caption">用户名</div>
                            <div class="content">
                                <div class="textbox">
                                    <input autocomplete="off" id="user_name" tip="会员帐号/手机号" type="text" name="userId" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="caption">密　码</div>
                            <div class="content">
                                <div class="textbox">
                                    <input id="password" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="row buttons">
                            <a href="javascript:void(0)" class="W_btn_g"><span>登  录</span></a>
                            <a class="forget" href="/forget/forget.htm">忘记密码？</a>
                        </div>
                    </div>
                    <div class="reg">
                        <span class="slogan">没有创建账号？现在加入</span>
                        <a class="btn_reg_red" href="" target="_blank"><span>立即注册</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li>Powered by ruifeng.lin</li>
            <li>RTX: ruifeng.lin | QQ: 289972458 | WeiXin: tedious-dock </li>
            <li>GitHub: <a href="https://github.com/tediousbaby/rtcs.git" target="_blank">https://github.com/tediousbaby/rtcs.git</a></li>
        </ul>
    </div>
</div>


</body>
</html>
